.button {
    width: 90px;
    height: 20px;
    color: white;
    background-color: cornflowerblue;
    border: 2px solid white;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.button:hover {
    background-color: dodgerblue;
    transform: scale(1.1);
}
.button.disabled {
    background-color: lightgray;
    border: 2px solid darkgray;
    cursor: not-allowed;
}