.App {
  display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
  height: 100vh;
}
.numberWrapper {
  width: 240px;
  height: 200px;
  background-color: cornflowerblue;
  font-size: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;


}

.buttonWrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 5px solid cornflowerblue;
  margin: 20px;

}
.maxCount {
  color:red
}
.contentWrapper {
  border: 5px solid cornflowerblue;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
